<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 mx-auto">
    <div class="text-center pt-4"><%= image_tag 'head/notice.gif' %></div>
    <%= link_to "", destroy_all_notifications_path, method: :delete, data: {confirm: "通知を全て消しますか？"}, class: "fas fa-trash-alt" %>
    <hr>
    <% if @notifications.exists? %>
      <div class="users-index">
        <%= render @notifications %>
      </div>
    <% else %>
      <p>通知はありません</p>
    <% end %>
    </div>
  </div>
</div>