<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'user/info', user: current_user %>
    </div>
      
    <div class="col-md-9">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>name</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @users.each do |user| %>
              <td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, class: "rounded-circle" %></td>
              <td><%= link_to user.name, user_path(user.id) %></td>
              <td>follows:  link_to user.followings.count, usrt_followings_path(user) </td>
              <td>followers:  user.followers.count </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>  
</div>