<div class="container">
  <div class="row">
    <div class="col-3">
    </div>
    
    <div class="col-9">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>name</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @users.each do |user| %>
              <td><%= attachment_image_tag user, :profile_image, :fill, 40, 40, class: "rounded-circle" %></td>
              <td><%= link_to user.name, user_path(user.id) %></td>
              <td>フォロー <%= link_to user.followings.count, usrt_followings_path(user) %></td>
              <td>フォロワー <%= user.followers.count %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>  
</div>