<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 pt-5">
      <div class="blackboard">
        <p>
         &emsp;<%= image_tag 'home/girl2.gif' %>&emsp; 「もっとゲーム好きな女性同士の
        </br>
        &emsp;&emsp;&emsp;&emsp;交流の場が無いかなあ...」
        </p>
      </div>
      <div class="blackboard mt-5">
        <p>
          &emsp; <%= image_tag 'home/girl3.gif' %>&emsp; 「女性のゲーム友達が欲しい！」
        </p>
      </div>
      <div class="d-flex justify-content-center pt-2">
        <h4 class="text-center py-4 px-5"style="background-color:rgba(252,252,202,1);">こんな女性の方も</br>
        そうでないゲーム好きの女性の方も</br>
        ゲームの感想やレビューなどを通じて</br>
        気軽に女性同士で交流して頂けます</br>
        </h4>
      </div>
    </div>
  </div>
</div>
