<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 pt-5">
      <h2 class="text-center">
        <strong>
        <p>ここは</p>
        <p>Game好きな女性たちの</p>
        <p>Game好きな女性による</p>
        <p>Game好きな女性のための</p>
        <p>交流サイトです</p>
        </strong>
      </h2>
    </div>
  </div>
</div>
