<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 pt-5">
      <div class="aaa">
        <h2>
          ATTENTION
        </br>
          このサイトは女性のみ登録できます
        </h2>
        <p>心に問いかけてください...</p>
        <p>女性は ▶ <%= link_to "新規登録", new_user_registration_path %> へ</br>
           男性は ▶ <%= link_to "こちら", root_path %> へ</p>
      </div>
    </div>
  </div>
</div>
