<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 pt-5">
      <div class="blackboard">
        <p>
         ＊「あなたは女性ですか？
        </br>
          　　このサイトは女性のみ登録できます」
        </p>
      </div>
      <div class="clearfix">
        <div class="blackboard answer float-r">
          <p class="blink-before"><%= link_to "はい", new_user_registration_path %>
          <p><%= link_to "いいえ", root_path %></p>
        </div>
      </div>
    </div>
  </div>
</div>