
<%= link_to "About", about_path %>
|
<%= link_to "Attention", attention_path %> 
<p>会員の方は <%= link_to "ログイン", new_user_session_path %> へ</p>
  <% if user_signed_in? %>
    <p>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </p>
  <% end %>