<div class="col-md-8 mx-auto">
  <div class="my-4"><%= image_tag 'head/search.gif' %><%= image_tag 'head/result.gif' %></div>
<% if @post.exists? %>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>image</th>
      <th>title</th>
      <th>review</th>
    </tr>
  </thead>
  <tbody>
    <% @post.each do |post| %>
    <tr>
      <td><%= attachment_image_tag post.user, :profile_image, :fill, 40, 40, fallback: "no-image-icon.png", class: "rounded-circle" %></td>
      <td><%= link_to post.title, post_path(post.id) %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <h3>一致するワードはありませんでした</h3>
<% end %>
</div>
