// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page {
  width: 15%;
  margin: auto;
}
.page .pagination span {
  display: inline;
  margin: 0 2px;
  padding: 0;
  display: inline-block;
  background:#ff6347;
  width: 25px;
  height: 25px;
  text-align: center;
  position: relative;
  border-radius: 50px;
}