// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pagination li a {          
  border: none;     
  color: #696969; 
  margin-right: 10px;
}

.pagination .active a {     
  background: #93c9ff;     
  border-radius: 15px;     
}

.pagination li a:hover {        
  border-radius: 15px;   
}
.pagination {
  justify-content: center;
  
}