<footer>
  <div class="container">
    <div class="row">
      <div class="mx-auto text-center fixed-bottom" style="background-color: #bfff7f;">
        <p class="text-secondary text-light"  style="font-weight: bold;">Gemina</p>
      </div>
    </div>
  </div>
</footer