  <div class="search_form float-right mt-2">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word, class: "col-5", placeholder: "Search"%>
  　　<input type="submit" value="&#xf002;" class="fas btn btn-light search">
    <% end %>
  </div>